  .Container-input {
    margin-top: 30px;
  }
  
  h1 {
    margin-top: 30px;
  }
  
  .Container-caixa-texto {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .Input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    padding-left: 10px;
    border: 2px solid #000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "arial", "barlow";
}

body {
  background: linear-gradient(90deg, #c866d7 0%, #9e5b54 100%);
}



/*h5 {
  font-size: 10px;
} */

.Container-input {
  margin-top: 30px;
}

h1 {
  margin-top: 30px;
}

h2{
    margin-top: 30px;

}

p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;

}

.Container-caixa-texto {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  background: linear-gradient(90deg, #EAAEF3 0%,  #639667 100%);
  width: 150px;
  padding: 10px  10px 10px 10px;
  border-radius: 40px;
  align-items: center; 
  color: #000;
  margin: 20px;
  font: caption;
  cursor: pointer;
}

button:hover{
    background-color: #639667;
    border: 2px solid white;
    transition: 1s;
    
}



.informacaoNutricao{
 
}