.headerContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: linear-gradient(90deg, #e7e6e8 0%, #ffff00 100%);
  flex-direction: row;
}

.header-mobile{
  display:none;
}
.icon-menu-mobile{
  display:none;
}

@media (max-width: 575px){

  .icon-menu-mobile {
    display:block;
  }

  .headerContainer{
    display:none;
  }

  .header-mobile{
    display:block;
    position: fixed;
    top:0;
    bottom:0;
    width:90%;
    z-index: 1;
    left:-100%;
    transition: 3s;
    overflow-y: scroll;
  }

  .geral-header-mobile{
    background-color: white;
  }

  .header-mobile .headerLinks ul{
    flex-direction: column;
    background-color: white;
  }

  .header-x svg{
    color:#161616;
    font-size: 60px;
  }
  
  .icon-menu-mobile svg{
    font-size: 40px;
  }

  .header-mobile.open{
     left:0;
  }

}



  


