.login-form{
    display: flex;
    place-content: flex-start
}

input{
    border-radius: 10px;margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", "barlow";

}
 p, h2{
    font-family: "arial", "barlow";
    color: beige;
    position: ;

 }